Checks: 'modernize-use-auto,readability-identifier-naming,performance-for-range-copy,cppcoreguidelines-avoid-magic-numbers,clang-analyzer-deadcode.DeadStores,clang-analyzer-cplusplus.NewDeleteLeaks,hicpp-special-member-functions,readability-function-size,readability-isolate-declaration,bugprone-branch-clone,bugprone-implicit-widening-conversion'
WarningsAsErrors: 'modernize-use-auto,readability-identifier-naming,performance-for-range-copy,cppcoreguidelines-avoid-magic-numbers,clang-analyzer-deadcode.DeadStores,clang-analyzer-cplusplus.NewDeleteLeaks,hicpp-special-member-functions,readability-function-size,readability-isolate-declaration,bugprone-branch-clone,bugprone-implicit-widening-conversion'
FormatStyle: '{BasedOnStyle: Google, IndentWidth: 4, UseTab: Never, AllowShortBlocksOnASingleLine: true, AllowShortCaseLabelsOnASingleLine: true, AllowShortFunctionsOnASingleLine: InlineOnly, BreakBeforeBraces: Attach, ColumnLimit: 0}'