name: Clang-Tidy CI

on:
  pull_request:
    branches:
      - main

jobs:
  clang-tidy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Clang-Tidy
        run: |
          sudo apt-get update
          sudo apt-get install -y clang-tidy

      - name: Run Clang-Tidy on all C++ files
        run: |
          clang-tidy src/*.cpp -- -std=c++17
